body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:scroll;
  height: auto;
  background: #c8dbff;
}

footer {
  padding-top: 5%;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}


.quantity-warning {
  color: red;
  font-size: 12px;
}

.quantity-zero {
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.price-tag {
  margin-left: auto;
  padding-right: 10%;
}
